.header {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);

    .focusLogo {
        flex: 1 1 0;
        text-align: center;
    }

    .dateTime {
        flex: 1 1 0;
        color: #7d7d7d;
    }
    .searchBar {
        flex: 1.5 1 0;
    }

    .addWidget {
        flex: 0.75 1 0;
        text-align: center;
    }

    .userIcon {
        flex: 0.4 2 0;
    }
}
