.selectWidgetDialog {
    height:500px;
    width: 500px;
}

.media{
    display: block;
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    border-radius: 15px;    
}

.title {
    text-align: center;
    font-family:"Ropa Sans";
}