.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
}

.cardContent {
    text-align: center;
}

.media{
    display: block;
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
}

.selectedCard{
    box-sizing: border-box;
    border: 3px solid red;
    border-radius: 10px;
}